@use "0-settings/breakpoints";
/*
Use css variables to control broad styling
**********************************************************/
// @use "0-settings/config"; // wireframe

//@use "0-settings/config-a"; // style 1

/*
Customise the colour palette
**********************************************************/

@use "0-settings/colours";

/*
Base styling
**********************************************************/

@use "1-base/normalise";
@use "1-base/body";
@use "1-base/tables";

/* Classed elements start here */
@use "1-base/typeset";
@use "2-atoms/list-bare";

/*
Components & layout
**********************************************************/

@use "4-organisms/header";
@use "5-layouts/layout";

/*
Support for non-latin languages (can be removed if not required)
**********************************************************/

@use "6-utilities/internationalisation";