@use "../0-settings/breakpoints";

.auto-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--gap);

  @media (max-width: breakpoints.$small) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: var(--base-unit--b) var(--base-unit);
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &__list {
    padding-inline-start: 0;
  }

  &-thumb {
    display: grid;
    grid-template-rows: subgrid;
    gap: var(--gap--s);
    grid-row: span 4;

    >a {
      display: contents;
    }

    &__image figcaption {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    [itemprop="headline"] a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.paginator {
  display: flex;
  gap: var(--gap);
}