@use "../0-settings/breakpoints";

.auto-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--gap);

  @media (max-width: breakpoints.$small) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: var(--base-unit--b) var(--base-unit);
  }
}

.list {
  display: grid;
  width: 100%;
  gap: var(--gap);
  grid-template-columns: var(--list-grid, 1fr 1fr 1fr);
}

.thumb {
  display: grid;
  grid-template-rows: subgrid;
  gap: var(--gap--s);
  grid-row: span 4;

  >a {
    display: contents;
  }
  figure {
    align-self: end;
    margin-block-end: var(--gap);
  }
  figcaption {
    display: none;
  }
}

.article {
  gap: var(--gap);
  display: grid;
  grid-template-columns: var(--article-grid, 1fr);
  align-items: end;

  [itemprop="articleBody"],
  hr {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  // [itemprop="headline"] a {
  //   text-decoration: none;
  //
  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }
}

.paginator,
.site-footer{
  display: grid;
  gap: 0 var(--gap);
  grid-template-columns: auto 1fr;
  align-items: end;

  @media (min-width: breakpoints.$small) {
    grid-template-columns: var(--header-grid, auto 1fr auto);
  }
}