/* Broad resets */

// Use a more-intuitive box-sizing model
*, *::before, *::after {
  box-sizing: border-box;
}
// Remove default margin
*:not(dialog) {
  margin: 0;
}
// Enable keyword animations
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
// Improve media defaults
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
// Inherit fonts for form controls
input, button, textarea, select {
  font: inherit;
}

// Create a root stacking context
#root, #__next {
  isolation: isolate;
}
