@use "../0-settings/breakpoints";

//@use "../2-atoms/heading";
/* Typography */
// Major Third type scale for headings
:root {
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --h6: 1em;
}

// Consistent baselines assuming 1.5rem baseline
h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  margin-block-end: .5cap;
  font-weight: var(--heading-weight);
  text-wrap: balance;
  overflow-wrap: break-word;
  color: var(--clr-heading);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  margin-block-start: 1cap;
}

h3 {
  font-size: var(--h3);
  margin-block-start: 1cap;
}

h4 {
  font-size: var(--h4);
  margin-block-start: 1cap;
}

h5 {
  margin-top: .5cap;
  font-size: var(--h5);
}

h6 {
  margin-block-start: 1cap;
  font-size: var(--h6);
  font-weight: var(--font-heavy);
}

a {
  text-decoration: underline;
  color: currentcolor;

  &:hover {
    //opacity: .5;
    text-decoration-thickness: var(--border-width);
  }
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
  max-width: var(--type-measure);
  margin-block-end: var(--gap);

  &:last-of-type:not(figcaption &) {
    margin-block-end: 0;
  }
}

[itemprop="articleBody"] {
  margin-block-end: var(--gap);
}

figcaption {
  margin-block-start: var(--gap--s);
}

// bold
dt,
strong,
th {
  font-weight: var(--font-heavy);
}

ul,
ol {
  padding-inline-start: var(--gap);
}

ul,
ol,
dl {
  margin-block-end: var(--gap);
}

ul {
  list-style-position: outside;
  list-style-type: square;
}

ol {
  list-style-position: outside;
}

li {
  max-width: var(--type-measure);
  margin-block-end: var(--gap--s);
}

dl {
 // margin-inline-start: var(--gap);
 overflow: auto;
}

dt,
dd {
  margin-block-end: var(--gap--s);
}

dt {
  float: left;
  min-width: 12ch;
}
dd {
  //margin-inline-start: var(--gap);
}

blockquote p {
  margin: var(--gap);
  font-family: var(--serif);

  &:before,
  &:after {
    display: inline-block;
    transform: scale(1.25);
  }

  &:before {
    content: '“';
    margin-inline-end: calc(var(--gap--ss)/2);
  }

  &:after {
    content: '”';
  }
}

hr {
  border: 0;
  height: var(--border-width);
  background: var(--clr-border);
  margin-block: var(--gap);
}

p>img,
p>figure {
  margin-block: var(--gap);
}


table,
pre {
  margin-block: var(--gap);
}

pre,
code {
  font-family: var(--mono);
  font-size: smaller;
}

sup {
  font-size: x-small;

  a {
    text-decoration: none;
  }
}