@use "../0-settings/breakpoints";

/* Use h{n}-style variants in the markup to control sizes */
h1,
.h1-style,
h2,
.h2-style,
h3,
.h3-style,
h4,
.h4-style,
h5,
.h5-style {
  line-height: 1.25;
  margin-block-end: .5cap;
  text-wrap: balance;
  overflow-wrap: break-word;
  font-weight: var(--weight-heading);
  font-family: var(--font-heading);
  color: var(--clr-heading);
}

h1,
.h1-style {
  font-size: var(--h1);
}

h2,
.h2-style {
  font-size: var(--h2);
  //margin-block-start: 1cap;
}

h3,
.h3-style {
  font-size: var(--h3);
  //margin-block-start: 1cap;
}

h4,
.h4-style {
  font-size: var(--h4);
  //margin-block-start: 1cap;
}

h5,
.h5-style {
  //margin-top: .5cap;
  font-size: var(--h5);
}

h6,
.h6-style  {
  //margin-block-start: 1cap;
  font-size: var(--h6);
  font-weight: var(--weight-heavy);
}

a {
  text-decoration: underline;
  color: currentcolor;

  &:hover {
    //opacity: .5;
    text-decoration-thickness: var(--border-width);
  }
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
  max-width: var(--type-measure);
  margin-block-end: var(--gap);

  &:last-of-type:not(figcaption &) {
    margin-block-end: 0;
  }
}

[itemprop="articleBody"] {
  margin-block-end: var(--gap);
}

figcaption {
  margin-block-start: var(--gap--s);
}

// bold
dt,
strong,
th {
  font-weight: var(--weight-heavy);
}

ul,
ol {
  padding-inline-start: var(--gap);
}

ul,
ol,
dl {
  margin-block-end: var(--gap);
}

ul {
  list-style-position: outside;
  list-style-type: square;
}

ol {
  list-style-position: outside;
}

li {
  max-width: var(--type-measure);
  margin-block-end: var(--gap--s);
}

dl {
 overflow: auto; // allow for floated elements
}

dt,
dd {
  margin-block-end: var(--gap--ss);
}

dt {
  float: left;
  min-width: 12ch;
}
dd {
  //margin-inline-start: var(--gap);
}

blockquote p {
  margin: var(--gap);
  font-family: var(--serif);

  &:before,
  &:after {
    display: inline-block;
    transform: scale(1.25);
  }

  &:before {
    content: '“';
    margin-inline-end: calc(var(--gap--ss)/2);
  }

  &:after {
    content: '”';
  }
}

hr {
  border: 0;
  height: var(--border-width);
  background: var(--clr-border);
  margin-block: var(--gap);
}

p>img,
p>figure {
  margin-block: var(--gap);
}


table,
pre {
  margin-block: var(--gap);
}

pre,
code {
  font-family: var(--mono);
  font-size: smaller;
}

sup {
  font-size: x-small;

  a {
    text-decoration: none;
  }
}

.small,
small {
  font-size: smaller;
}