@use "../0-settings/breakpoints";

.header {
  border-bottom: var(--border-width) solid var(--clr-border);
  background-color: var(--clr-bg--header);

  &__container {
    display: grid;
    gap: 0 var(--gap);
    padding: var(--gap--s) var(--gap);
    /* limit content width (omit for full-width) */
    max-width: breakpoints.$desktop;
    margin-inline: auto;
    grid-template-columns: auto 1fr;

    @media (min-width: breakpoints.$small) {
      grid-template-columns: .5fr 1fr auto;
    }

    >* {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  [rel="home"] {
    text-decoration: none;
  }

  search {
    justify-self: end;

    @media (max-width: breakpoints.$small) {
      grid-column: span 2;
      ;
    }
  }

  @media (min-width: breakpoints.$small) {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

// .site-name {
// font-size:var(--h1);
// line-height: 1;
// margin-block-end: .5cap;
// font-weight: var(--heading-weight);
// text-wrap: balance;
// overflow-wrap: break-word;
// color: var(--clr-heading);
// }
.site-navigation {
  >ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--gap);
    align-content: baseline;
    margin-block-end: 0;
  }

  li {
    margin-block-end: 0;
    font-size: larger;

    &.active {
      font-weight: var(--font-heavy);
    }

    a {
      text-decoration: none;
    }
  }
}