@use "../0-settings/breakpoints";

.header {
  border-bottom: var(--border-width) solid var(--clr-border);
  background-color: var(--clr-bg--header);
  font-size: var(--header-size);
  font-weight: var(--weight-header);

  &__container {
    display: grid;
    gap: 0 var(--gap);
    padding: var(--gap--s) var(--gap);
    /* limit content width (omit for full-width) */
    max-width: var(--content-limit);
    margin-inline: auto;
    grid-template-columns: auto 1fr;

    @media (min-width: breakpoints.$small) {
      grid-template-columns: .5fr 1fr auto;
    }

    >* {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    >p,
    search {
      font-size: 1rem;
      font-weight: var(--weight-normal);
    }
  }

  [rel="home"] {
    text-decoration: none;
  }

  search {
    justify-self: end;

    @media (max-width: breakpoints.$small) {
      grid-column: span 2;
    }
  }

  @media (min-width: breakpoints.$small) {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.site-navigation {
  >ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--gap);
    align-content: baseline;
    margin-block-end: 0;
  }

  li {
    margin-block-end: 0;

    &.active {
      font-weight: var(--weight-heavy);
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}